@font-face {
  font-family: 'BodyFont';
  src: url('/assets/fonts/rehighlight-bodyfont.woff2') format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

*,
*::before,
*::after{box-sizing:border-box;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
}

html{ 
  font-size: 16px;
  height: 100%;
}

body{
  font-family: 'BodyFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #313537;
  height:100vh;
  display:flex;
  flex-direction:column; 
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PlayfairDisplay', sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}
.grid {
  display: grid;
}

.container {
  max-width: 900px;
  padding: 2%;
  margin: 0 auto;
}

footer {
  background-color: #313537;
  margin-top: auto; 
  min-height: 120px;
  color: #EFEFEF;
  padding: 1rem;
}
.footer-container {
  grid-template-columns: auto auto;
}
.footer-logo img{
  width: 36px;
  height: 36px;
  display: inline-block;
}
.footer-logo h4 {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 36px;
  vertical-align: top;
  letter-spacing: 1px;
  margin-left: 4px;
}

.landing {
  margin: 5rem auto;
}
.landing img {
  width: 200px;
}
.landing h1 {
  font-size: 1.5rem;
  margin: 2rem;
}
.landing p {
  padding: 0 2rem;
  max-width: 500px;
  margin: 0 auto;
}
.copyright {
  letter-spacing: 1px;
  font-size: .75rem;
  color: #F8DC5B;
  height: 36px;
  padding-top: 16px;
}

/* Media Queries for Responsive Design */
/* Small devices (landscape phones) */
@media (min-width: 576px) {
  
}
/* Medium devices (tablets) */
@media (min-width: 768px) {
  .landing img {
    width: 350px;
  }
}
/* Large devices */
@media (min-width: 992px) {
  .landing h1 {
    font-size: 2rem;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .landing p {
    font-size: 1.25rem;
    max-width: 700px;
  }
  .landing img {
    width: 476px;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}